.main {
    position: relative;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .contact-form {
    margin-top: 20px;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .field {
    display: flex;
    flex-direction: column;
    width: 48%;
    margin-bottom: 15px;
  }
  
  label {
    margin-bottom: 5px;
    color: #666;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="text"],
  select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .phone-input {
    display: flex;
  }
  
  .phone-input select {
    width: 30%;
    margin-right: 5px;
  }
  
  .phone-input input {
    width: 70%;
  }
  
  @media (max-width: 600px) {
    .field {
      width: 100%;
    }
  
    .phone-input select,
    .phone-input input {
      width: 100%;
      margin-right: 0;
    }
  }
  

  .sub{
    background-color: rgb(47, 255, 106);
    padding: 10px;
    border-radius: 20px;
    color: white;
    font-size: 13px;
    border: 2px white;
  }
  .success-message{
    color: rgb(47, 255, 68);
  }
  .error-message{
    color: red;
  }